framework:
    cache:
        app: cache.adapter.redis
        system: cache.adapter.system
        default_redis_provider: '%env(REDIS_URL)%'
        pools:
            doctrine.result_cache_pool:
                adapter: cache.app
