doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            uuid: Ramsey\Uuid\Doctrine\UuidType
        mapping_types:
            uuid: uuid

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

        filters:
            tenant_filter:
                class: App\Doctrine\Filter\TenantFilter
                enabled: false
            soft_delete_filter:
                class: App\Doctrine\Filter\SoftDeleteFilter
                enabled: true
