framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true

    php_errors:
        log: true

    serializer:
        enabled: true

    validation:
        enabled: true
        email_validation_mode: html5

    uid:
        default_uuid_version: 7
        time_based_uuid_version: 7
