security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        public_api:
            pattern: ^/api/public
            stateless: true
            security: false

        admin_api:
            pattern: ^/api/admin
            stateless: true
            custom_authenticators:
                - App\Security\JwtAuthenticator

        super_admin_api:
            pattern: ^/api/super-admin
            stateless: true
            custom_authenticators:
                - App\Security\JwtAuthenticator

    access_control:
        - { path: ^/api/public, roles: PUBLIC_ACCESS }
        - { path: ^/api/admin/auth, roles: PUBLIC_ACCESS }
        - { path: ^/api/admin, roles: ROLE_RESTAURANT_OWNER }
        - { path: ^/api/super-admin, roles: ROLE_SUPER_ADMIN }
